<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      margin-top:340px;
    }
    td {
  text-align: left;
}
container {
   height:100%;
}
  </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('view')}}">Intern</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('view')}}">View</a></li>
        <li><a href="{{url_for('add_emp')}}" >Add Employee</a></li>

      </ul>
      <form class="navbar-form navbar-right" role="search" action="/search" method="post">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search.." name="search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>

    </div>
  </div>
</nav>
{%block content%}
{% with messages=get_flashed_messages(with_categories=true)%}
{% if messages%}
{% for category,message in messages%}
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{message}}</strong>
  </div>
  {%endfor%}
  {%endif%}
  {%endwith%}
<div class="container text-center">
  <div class="row">

    <h2><b>List of Employees</b></h2>
      <p>All Employees Added is Displayed Here</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {%for i in data%}
          <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td style="text-align:center;">
              <button class="btn btn-primary" type="submit" name="button"onclick="location.href='{{url_for('delete',phone=i[3])}}'">Delete</button>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>

  </div>
</div>
{%endblock%}
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
